<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='modo-auditivo.component.css'>
  <script src='main.js'></script>
</head>
<body>
  <header>

    <section class="textos-header">
      <h1>Empieza a programar</h1>
      <h2>con el modo auditivo</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #08f;"></path></svg></div>

  </header>

  <main>
    <section class="contenedor">
      <h2 class="titulo">Nuestro Producto</h2>
      <div class="contenedor-sobre-nosotros">
         <img src="/assets/images/aduitiii.jpg" alt="auditivoima">
         <div class="contenido-textos">
           <h3><span>1</span> lección uno</h3>
           <audio controls>
            <source src="/assets/musica/algo1.mp3" type="audio/mp3">
          </audio>
           <p>Un algoritmo es un conjunto de reglas definidas que permite solucionar un problema, de una determinada manera, mediante operaciones sitemáticas (no necesariamente ordenadas) y finitas. Estas instrucciones, definidas y ordenadas en función de los datos, resuelven el problema o la tarea.</p>
           <h3><span>2</span> lección dos</h3>
           <audio controls>
            <source src="/assets/musica/Entra Cuchillo.mp3" type="audio/mp3">
          </audio>


           <p>En ciencias de la computación, el diseño de algoritmos es un método específico para poder crear un modelo matemático ajustado a un problema específico para resolverlo. El diseño de algoritmos o algorítmica es un área central de las ciencias de la computación, también muy importante para la investigación de operaciones (también conocida como investigación operativa), en ingeniería del software y en otras disciplinas afines.</p>
           <h3><span>3</span> lección tres</h3>
           <audio controls>
            <source src="/assets/musica/pseudo.mp3" type="audio/mp3">
          </audio>
           <p>Es un lenguaje simplificado para describir un algoritmo
            utilizando una mezcla de frases en lenguaje común, y
            palabras claves que indican el inicio y el fin del algoritmo y
            las instrucciones específicas a realizar.</p>
         </div>
      </div>
    </section>
    <section class="portafolio">
      <div class="contenedor">
        <h2 class="titulo">portafolio</h2>
        <div class="galeria-port">
           <div class="imagen-port">
            <img src="/assets/images/quiz.jpg" alt="">
            <div class="hover-galeria">
              <img src="/assets/images/quiz.jpg" alt="" routerLink="/question2">
              <p>Practica Tutorial</p>
            </div>
           </div>
           <div class="imagen-port">
            <img src="/assets/images/img1.jpg" alt="">>

            <div class="hover-galeria">
              <img src="/assets/images/img1.jpg" alt=""   routerLink="/wiki" routerLinkActive="active">>

              <p>modo clasico</p>
            </div>

           </div>
           <div class="imagen-port">
            <img src="/assets/images/visual.png" alt="" >
            <div class="hover-galeria">
                 <img src="/assets/images/visual.png" routerLink="/visual" >

                 <p>modo visual</p>
                </div>


            </div>

        </div>
      </div>
    </section>
  </main>


</body>
</html>
